$accent: #79CEFC;

text, label {
    font-family: Poppins;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

icon, iconpanel {
    font-family: MaterialIconsRound;
    color: white;
    font-size: 20px;
}
