$accent: #79CEFC;
$neutral: #1D323D;

$backdrop-filter: blur( 10px );

text, label {
    font-family: Poppins;
    // font-weight: 600;
    font-weight: 900;
    font-style: oblique;
    color: white;
    font-size: 20px;
}

icon, iconpanel {
    font-family: MaterialIconsRound;
    color: white;
    font-size: 20px;
}
