@import "/UI/_Common.scss";

Crosshair {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 50%;
    top: 50%;
    transform: translate( -50% -50% );
    border-radius: 100%;
    border: 2px solid white;
    transition: all 150ms ease;
    opacity: 0;

    &.active {
        width: 48px;
        height: 48px;
    }

    &.visible {
        opacity: 1;
    }

    .center-dot {
        position: absolute;
        width: 4px;
        height: 4px;
        background-color: white;
        left: 50%;
        top: 50%;
        transform: translate( -50% -50% );
        border-radius: 100%;
    }
}
