@import "/Code/UI/_Common.scss";

currentweapon {
    position: absolute;
    bottom: 75px;
    right: 50px;
    aspect-ratio: 1;
    height: 128px;
    padding: 10px 10px 10px 15px; // Extra on the left to account for skew
    background-color: $accent;
    backdrop-filter: $backdrop-filter;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    transform: translate( -50% ) skewX( -10deg );
    box-shadow: 5px 5px rgba( $neutral, 0.5 );
    border: 4px solid rgba( white, 0.2 );

    .weapon-name {
        font-size: 24px;
        flex-grow: 1;
        text-align: center;
        position: absolute;
        bottom: -48px;
        left: -90px; // Account for skew, make it so that long text doesn't get cut off
        right: -100px;
        text-shadow: 0 0 5px rgba( black, 0.1 );
    }

    .weapon-icon {
        transform: skewX( 10deg );
        width: 100%;
        aspect-ratio: 1;
        background-size: cover;
        background-position: center;
        transition: transform 150ms ease;
    }
}
