@import "/Code/UI/_Common.scss";

currentweapon {
    position: absolute;
    bottom: 50px;
    right: 50px;
    width: 275px;
    height: 100px;
    background-color: rgba( $neutral, 0.5 );
    backdrop-filter: $backdrop-filter;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    transform: translate( -50% ) skewX( -10deg );
    border: 4px solid rgba( white, 0.2 );

    .weapon-icon {
        transform: scale( 1.2 ) skewX( 10deg );
    }

    .weapon-name {
        font-size: 24px;
        flex-grow: 1;
        text-align: center;
        position: absolute;
        left: 64px;
        right: 0;
    }

    .weapon-icon {
        flex-grow: 1;
        aspect-ratio: 1;
        background-size: cover;
        background-position: center;
        transition: transform 150ms ease;
    }
}
