@import "/Code/UI/_Common.scss";

FreezeLevel {
    position: absolute;
    bottom: 50px;
    left: 50px;
    width: 250px;
    height: 50px;
    background-color: #00f;
    align-items: center;
    justify-content: center;
    background-color: rgba( $neutral, 0.5 );
    border-radius: 10px;

    .inner {
        background-color: rgba( $accent, 0.5 );
    }
}
