@import "/UI/_Common.scss";

FreezeLevel.progress-bar {
    width: 400px;
    height: 40px;
    margin-top: 10px;

    .inner {
        background: linear-gradient( 25%, $accent-dark, $accent );
    }

    .icon {
        text-shadow: 0 0 10px $accent;
    }
}
