@import "/UI/_Common.scss";

GameState {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate( -50% );
    align-items: center;
    justify-content: center;

    text, label, icon, iconpanel {
        text-shadow: 0 0 10px rgba( black, 0.1 );
    }

    .state-name, .state-time {
        margin: 0 10px;
        align-items: center;
        justify-content: center;
        font-style: oblique;

        iconpanel {
            margin-right: 8px;
            font-size: 32px;
        }
    }
}
