@import "/Code/UI/_Common.scss";

Stamina.progress-bar {
    position: absolute;
    bottom: 110px;
    left: 50%;
    width: 400px;
    height: 50px;

    .inner {
        background-color: rgba( $stamina, 1.0 );
    }

    .icon {
        text-shadow: 0 0 10px $stamina;
    }
}
