@import "/UI/_Common.scss";

Stamina.progress-bar {
    width: 400px;
    height: 40px;

    .inner {
        background: linear-gradient( 25%, $stamina-dark, $stamina );
    }

    .icon {
        text-shadow: 0 0 10px $stamina;
    }
}
