@import "/Code/UI/_Common.scss";

Stamina.progress-bar {
    width: 400px;
    height: 40px;

    .inner {
        background-color: rgba( $stamina, 1.0 );
    }

    .icon {
        text-shadow: 0 0 10px $stamina;
    }
}
